$text-default: #3f3f3f;
$bg-default: #e0e0e0;
$bg-default-hover: #aeaeae;

$text-primary: #3d5afe;
$bg-primary: #2962ff;
$bg-primary-hover: #0039cb;
$bg-variant-hover: rgba(41, 98, 255, 0.1);

$bg-secondary: #455a64;
$bg-secondary-hover: #1c313a;

$bg-danger: #d32f2f;
$bg-danger-hover: #9a0007;

$text-white: #ffffff;

$bg-disabled: #e0e0e0;
$text-disabled: #9e9e9e;
